.nav{
  padding-top: 20px;
  &__block{
    list-style-type: none;
    display: flex;
  }
  &__list{
    margin-right: 50px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    transition: 0.5s;
    &:hover{
      color: #fce38a;
    }
  }
}
.line{
  display: block;
  width: 0;
  height: 2px;
  background: #fce38a;
  transition: 0.5s;
}
.nav__link:hover ~ .line{
  width: 100%;
}
.search{
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.78);
  height: 30px;
  border-radius: 30px;
  //padding: 6px;
  flex-direction: row-reverse;
  &__btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(243, 129, 129);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #e8e8e8;
    cursor: pointer;
    text-decoration: none;
  }
}
.search__btn > i {
  font-size: 14px;
}
.search:hover > .search__text{
  width: 150px;
  padding: 0 6px;
}
.search__text{
  border: none;
  background: none;
  outline: none;
  color: #e8e8e8;
  font-size: 16px;
  transition: 0.5s;
  line-height: 30px;
  width: 0;
  font-weight: bold;
}
.search:hover > .search__btn
{
  background: #171717;
  color: #e8e8e8;
}
.search:hover > .search__btn:hover{
  background: #fce38a;
}
.search__text:focus{
  width: 150px;
  padding: 0 6px;
}
.navbar{
  padding-top: 30px;
}
