.slider{
  margin-top: 150px;
  &__row{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    flex-direction: column-reverse;
  }
  &__number{
    opacity: 0.702;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    &:hover ~ .slider__line{
      background: #f38181;
    }
  }
  &__line{
    transition: 0.5s;
   width: 280px;
    height: 4px;
    background: white;
  }
}
.slider__line__first{
  transition: 0.5s;
  width: 280px;
  height: 4px;
  background: rgb(243,129,129);
  background: linear-gradient(90deg, rgba(243,129,129,1) 40%, rgba(255,255,255,1) 40%);
}
.slider__number:hover ~ .slider__line__first{
  background: #f38181;
}