.banner__desc:after {
  margin-left: 450px;
}
.banner {
  margin-top: 50px;
}
.btn {
  margin-left: 405px;
}
.my__carousel .owl-dots .owl-dot {
  width: 200px;
  margin-right: 56px;
}
.about {
  margin-top: 29px;
}
.about__line {
  margin-left: 462px;
}
.about__info {
  width: 900px;
  margin-left: 25px;
}
.facts {
  margin-top: 10px;
}
.service {
  margin-top: 25px;
}
.feature {
  margin-top: 0;
}
.skill__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial {
  margin-top: 30px;
}
.feature__title {
  padding-top: 63px;
}
.carousel__des {
  width: 600px;
  margin-left: 4px;
}
.carousel-item {
   height: 250px;
   margin-left: 100px;
   margin-top: 20px;
 }
.feature__title {
  padding-top: 0;
}
.team__link {
  padding: 10px 8px;
  margin-top: 74px;
}
.about__figure {
  height: 211px;
}
.brands {
  margin-top: 76px;
}
.work__figure {
  height: 258px;
}
.work__figure_large {
  height: 502px;;
}
.brain {
  margin-top: -184px;
}
.people__item {
  width: 485px;
  height: 171px;
}
.people__row {
  margin-top: 33px;
}
.blog__figure {
  width: 300px;
}
.footer {
  margin-top: 25px;
  text-align: center;
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__item {
  width: 100%;
  height: 310px;
}
.footer__figure {
  margin-left: 55px;
}
.footer__large{
  width: 50%;
}