.banner__title {
  font-size: 42px;
}
.banner__desc {
  margin-top: 50px;
  font-size: 120px;
}
.banner__desc:after {
  margin-left: 346px;
}
.btn {
  margin-left: 301px;
}
.my__carousel .owl-dots {
  top: 632px;
}
.my__carousel .owl-dots .owl-dot {
  width: 106px;
  margin-right: 100px;
}
.header {
  height: 796px;
}
.about__info {
  width: 100%;
  text-align: center;
  margin-left: -8px;
  margin-top: 10px;
}
.about__line {
  margin-left: 349px;
}
.figure__desc {
  margin-top: 94px;
}
.facts__number {
  font-size: 42px;
}
.facts__item {
  height: 169px;
}
.facts__number {
  margin-top: -30px;
}
.service__item {
  width: calc(100% / 2);
  margin-top: 13px;
}
.hr__wis{
  display: block;
}
.feature__img {
  height: 100%;
  object-fit: cover;
}
.feature {
  height: 754px;
}
.feature__figcaption {
  top: 45%;
}
.accordion {
  width: 100%;
}
.carousel-item {
  height: 246px;
}
.carousel__des {
  width: 417px;
  margin-left: 4px;
}
.name {
  margin-left: 154px;
}
.d-block {
  margin-top: 12px;
}
.team__link {
  padding: 2px 3px;
  margin-top: 74px;
}
.work__row {
  display: flex;
  flex-wrap: wrap;
}
.work__item {
  width: 50%;
  height: 502px;
}
.brain {
  margin-top: 26px;
}
.people__item {
  width: 100%;
}
.people__name {
  margin-left: 306px;
}
.people__vacant {
  margin-left: 309px;
}
.people__vacant:after {
  margin-left: 20px;
}
.people__img {
  position: absolute;
  left: 252px;
}
.blog__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog__item {
  width: 100%;
  margin-top: 25px;
}
.blog__figure {
  width: 100%;
}
.blog__img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.footer {
  height: 900px;
}
.gallery__img {
  width: 50%;
  height: 100px;
  object-fit: cover;
}
.agllery{
  color: black;
  font-size: 20px;
}
.large{
  width: 100%;
  object-fit: cover;
}
.footer__img {
  width: 100%;
  height: 123px;
  object-fit: cover;
}
.footer__img{
  object-fit: cover;
}
.footer__item {
  height: 217px;
}